In [12]:
# import dependencies
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

# add citipy to library
from citipy import citipy

#add requests module
import requests

# import the API key from config.py file
from config import weather_api_key


#import datetime to recast api date to a datetime format
import time
from datetime import datetime

In [2]:
# create a random set of Latitude and longitude
#note start with set of 10 to limit API calls
lats = np.random.uniform(low=-90.000, high=90.000, size=10)
lngs = np.random.uniform(low=-180.000, high=180.000, size=10)
# the zip method combines the lats and longitudes into a list of pairs
lat_lngs = zip(lats, lngs)
lat_lngs




# add latitudes and longitudes to a list
coordinates = list(lat_lngs)

In [6]:
# random world cities
# This will require citipy to be installed to Pythondata enviroment
# will require pip install of citipy


# use citipy  module to determine city based on lat and long
#add from citpy import citipy to list of dependencies



#Create a list for  the holding of cities

cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)
#cities

#identify the nearest city for each lat and long combination

# print the city count to confirm sufficient count

10

In [ ]:
# add weather api_key to config.py
#add import requests to list of dependencies

In [11]:
# starting url for weather map api call
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
#print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=bfa6d55674d8f2c98bf8f206ceadb589

In [15]:
#create an empty list to hold weather data
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
    #check to see if requests worked
    #print(requests.get(city_url).json())
    
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | nikolskoye
Processing Record 2 of Set 1 | carutapera
Processing Record 3 of Set 1 | mont-dore
Processing Record 4 of Set 1 | umzimvubu
City not found. Skipping...
Processing Record 5 of Set 1 | bluff
Processing Record 6 of Set 1 | tiksi
Processing Record 7 of Set 1 | quatre cocos
Processing Record 8 of Set 1 | nome
Processing Record 9 of Set 1 | laguna
Processing Record 10 of Set 1 | kapaa
-----------------------------
Data Retrieval Complete
-----------------------------

In [17]:
#city_data

In [18]:
# Convert the array of dictionaries to Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Nikolskoye,59.7035,30.7861,86.88,33,74,4.07,RU,2022-07-22 12:52:27
1,Carutapera,-1.1950,-46.0200,80.26,87,99,5.57,BR,2022-07-22 12:52:27
2,Mont-Dore,-22.2833,166.5833,78.78,99,88,9.71,NC,2022-07-22 12:47:57
3,Bluff,-46.6000,168.3333,38.80,81,100,8.30,NZ,2022-07-22 12:52:28
4,Tiksi,71.6872,128.8694,43.43,78,85,9.71,RU,2022-07-22 12:52:28
5,Quatre Cocos,-20.2078,57.7625,73.09,78,77,16.31,MU,2022-07-22 12:52:29
6,Nome,64.5011,-165.4064,46.47,93,100,5.75,US,2022-07-22 12:47:58
7,Laguna,38.4210,-121.4238,69.17,64,0,9.22,US,2022-07-22 12:46:00
8,Kapaa,22.0752,-159.3190,77.32,84,40,17.27,US,2022-07-22 12:47:59

In [19]:
# reorder DataFrame
new_column_order = ["City", "Country","Date","Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed"]
city_data_df = city_data_df[new_column_order]

#view city_data_df
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Nikolskoye,RU,2022-07-22 12:52:27,59.7035,30.7861,86.88,33,74,4.07
1,Carutapera,BR,2022-07-22 12:52:27,-1.1950,-46.0200,80.26,87,99,5.57
2,Mont-Dore,NC,2022-07-22 12:47:57,-22.2833,166.5833,78.78,99,88,9.71
3,Bluff,NZ,2022-07-22 12:52:28,-46.6000,168.3333,38.80,81,100,8.30
4,Tiksi,RU,2022-07-22 12:52:28,71.6872,128.8694,43.43,78,85,9.71
5,Quatre Cocos,MU,2022-07-22 12:52:29,-20.2078,57.7625,73.09,78,77,16.31
6,Nome,US,2022-07-22 12:47:58,64.5011,-165.4064,46.47,93,100,5.75
7,Laguna,US,2022-07-22 12:46:00,38.4210,-121.4238,69.17,64,0,9.22
8,Kapaa,US,2022-07-22 12:47:59,22.0752,-159.3190,77.32,84,40,17.27

In [20]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")