## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chernyshevskiy,RU,2022-07-24 15:54:23,moderate rain,63.0128,112.4714,65.41,97,100,4.92
1,1,Cape Town,ZA,2022-07-24 15:54:23,clear sky,-33.9258,18.4232,63.37,68,0,10.36
2,2,Port Shepstone,ZA,2022-07-24 15:54:23,scattered clouds,-30.7414,30.4550,60.08,61,32,25.66
3,3,Roald,NO,2022-07-24 15:54:24,light rain,62.5833,6.1333,64.17,94,75,13.80
4,4,Kapaa,US,2022-07-24 15:54:24,scattered clouds,22.0752,-159.3190,77.32,82,40,12.66

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kapaa,US,2022-07-24 15:54:24,scattered clouds,22.0752,-159.3190,77.32,82,40,12.66
10,10,Hasaki,JP,2022-07-24 15:54:26,overcast clouds,35.7333,140.8333,77.40,87,99,14.74
14,14,Dingle,PH,2022-07-24 15:54:27,overcast clouds,10.9995,122.6711,76.86,90,98,2.30
16,16,Castro,BR,2022-07-24 15:50:17,overcast clouds,-24.7911,-50.0119,75.47,39,89,2.19
18,18,Matara,LK,2022-07-24 15:54:29,overcast clouds,5.9485,80.5353,78.01,85,98,10.74
32,32,Ambon,ID,2022-07-24 15:54:33,scattered clouds,-3.6954,128.1814,78.24,15,40,3.44
35,35,Sao Filipe,CV,2022-07-24 15:49:55,moderate rain,14.8961,-24.4956,77.31,86,95,1.36
38,38,Ribeira Grande,PT,2022-07-24 15:54:35,scattered clouds,38.5167,-28.7000,79.20,78,40,11.50
47,47,Atuona,PF,2022-07-24 15:55:38,light rain,-9.8000,-139.0333,76.98,69,59,18.50
90,90,Takoradi,GH,2022-07-24 15:55:54,overcast clouds,4.8845,-1.7554,77.92,73,92,9.69

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 4 to 691
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              106 non-null    int64
 1   City                 106 non-null    object
 2   Country              105 non-null    object
 3   Date                 106 non-null    object
 4   Current Description  106 non-null    object
 5   Lat                  106 non-null    float64
 6   Lng                  106 non-null    float64
 7   Max Temp             106 non-null    float64
 8   Humidity             106 non-null    int64
 9   Cloudiness           106 non-null    int64
 10  Wind Speed           106 non-null    float64
dtypes: float64(4), int64(3), object(4)
memory usage: 9.9+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how="any",inplace=True)
clean_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kapaa,US,2022-07-24 15:54:24,scattered clouds,22.0752,-159.3190,77.32,82,40,12.66
10,10,Hasaki,JP,2022-07-24 15:54:26,overcast clouds,35.7333,140.8333,77.40,87,99,14.74
14,14,Dingle,PH,2022-07-24 15:54:27,overcast clouds,10.9995,122.6711,76.86,90,98,2.30
16,16,Castro,BR,2022-07-24 15:50:17,overcast clouds,-24.7911,-50.0119,75.47,39,89,2.19
18,18,Matara,LK,2022-07-24 15:54:29,overcast clouds,5.9485,80.5353,78.01,85,98,10.74
...,...,...,...,...,...,...,...,...,...,...,...
671,671,Rongcheng,CN,2022-07-24 16:12:29,clear sky,30.6340,117.8517,79.11,82,2,2.82
673,673,Juxtlahuaca,MX,2022-07-24 16:12:30,overcast clouds,17.4294,-99.1467,77.97,71,99,2.75
687,687,Manta,EC,2022-07-24 16:13:35,broken clouds,-0.9500,-80.7333,76.78,78,75,8.05
689,689,Belmonte,BR,2022-07-24 16:13:36,scattered clouds,-15.8631,-38.8828,76.84,62,45,9.04
691,691,Bonthe,SL,2022-07-24 16:13:37,light rain,7.5264,-12.5050,75.20,86,100,9.08

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,77.32,scattered clouds,22.0752,-159.3190,
10,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,
14,Dingle,PH,76.86,overcast clouds,10.9995,122.6711,
16,Castro,BR,75.47,overcast clouds,-24.7911,-50.0119,
18,Matara,LK,78.01,overcast clouds,5.9485,80.5353,
32,Ambon,ID,78.24,scattered clouds,-3.6954,128.1814,
35,Sao Filipe,CV,77.31,moderate rain,14.8961,-24.4956,
38,Ribeira Grande,PT,79.20,scattered clouds,38.5167,-28.7000,
47,Atuona,PF,76.98,light rain,-9.8000,-139.0333,
90,Takoradi,GH,77.92,overcast clouds,4.8845,-1.7554,

In [8]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
     "type": "lodging",
     "key": g_key,
    
 }
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,77.32,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
14,Dingle,PH,76.86,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
16,Castro,BR,75.47,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
18,Matara,LK,78.01,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
...,...,...,...,...,...,...,...
671,Rongcheng,CN,79.11,clear sky,30.6340,117.8517,Shell Shandong Liaocheng Development District ...
673,Juxtlahuaca,MX,77.97,overcast clouds,17.4294,-99.1467,"Casa de Huespedes ""El centro"""
687,Manta,EC,76.78,broken clouds,-0.9500,-80.7333,Balandra Hotel
689,Belmonte,BR,76.84,scattered clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
691,Bonthe,SL,75.20,light rain,7.5264,-12.5050,Bonthe Holiday Village

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,77.32,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
14,Dingle,PH,76.86,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
16,Castro,BR,75.47,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
18,Matara,LK,78.01,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
...,...,...,...,...,...,...,...
671,Rongcheng,CN,79.11,clear sky,30.6340,117.8517,Shell Shandong Liaocheng Development District ...
673,Juxtlahuaca,MX,77.97,overcast clouds,17.4294,-99.1467,"Casa de Huespedes ""El centro"""
687,Manta,EC,76.78,broken clouds,-0.9500,-80.7333,Balandra Hotel
689,Belmonte,BR,76.84,scattered clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
691,Bonthe,SL,75.20,light rain,7.5264,-12.5050,Bonthe Holiday Village

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "./Weather_Database/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
#check to get map working
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#11a add a marker layer for each city on the map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b display the figure
fig

Figure(layout=FigureLayout(height='420px'))