## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Weather_Database/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Kapaa,US,77.32,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,10,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
2,14,Dingle,PH,76.86,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
3,16,Castro,BR,75.47,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
4,18,Matara,LK,78.01,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Battle Creek"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Battle Creek"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Waterford"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "La Crosse"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Sandpoint"]

In [6]:
print(vacation_start)

    City_ID          City Country  Max Temp Current Description      Lat  \
31      235  Battle Creek      US     77.22     overcast clouds  42.3212

        Lng                                Hotel Name
31 -85.1797  Baymont by Wyndham Battle Creek Downtown

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [8]:
print(start)

(42.3212, -85.1797)

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#create a vacation itinerary layer
vacation_itinerary =gmaps.directions_layer(
    start,
    end,
    waypoints =[stop1,stop2,stop3],
    travel_mode ="DRIVING"
)
fig.add_layer(vacation_itinerary)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,235,Battle Creek,US,77.22,overcast clouds,42.3212,-85.1797,Baymont by Wyndham Battle Creek Downtown
1,165,Waterford,US,78.78,overcast clouds,42.7023,-83.4027,Olde Mill Inn-Clarkston
2,616,La Crosse,US,76.77,clear sky,43.8014,-91.2396,Holiday Inn & Suites La Crosse - Downtown
3,392,Sandpoint,US,75.72,clear sky,48.2766,-116.5533,Hotel Ruby Sandpoint/Ponderay

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))